[Desktop Entry]
Type=Application
Name=NitroSense
GenericName=Laptop Control
Comment=Control fan speed, performance profiles and keyboard RGB
Exec=/usr/local/bin/nitro-gui
Icon=nitro-gui
Terminal=false
Categories=System;Settings;HardwareSettings;
Keywords=fan;rgb;keyboard;backlight;performance;acer;nitro;thermal;
StartupNotify=true
